<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmu.wowoto.wowomall.mapper.OrderMapper">



<select id="getCartItem" parameterType="java.util.List" resultType="WowoCartItem">
    select *
    from wowomall_order
    where user_id = #{userId} and is_deleted = 0
    order by #{sort} #{order}
    limit #{page}, #{limit}
</select>




</mapper>